<!-- <html>

<head>

  <title>Like Minded | Meet your therapist match.</title>

  <link rel="stylesheet" href="custom.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen"/>

</head>

<body> -->

<div class="outer-contain">

  <div id="product_box">
      <form  id="signup" method="get" action="/Like_minded/Landing Page Test 1/TestingLM2.html">
        <input type="text" name="zipcode" title="Zip Code" class="" placeholder="Enter zip code here"/>
      </form>
    </div>

  <div id="buttonsearch">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonone">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttontwo">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonthree">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonfour">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonfive">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="textlinkone">
    <a href="#myModal" data-toggle="modal">Learn more about therapists > </a>
  </div>

  <div id="textlinktwo">
    <a href="#myModal" data-toggle="modal">Learn more about searching > </a>
  </div>

  <div id="textlinkthree">
    <a href="#myModal" data-toggle="modal">Learn more about consultations > </a>
  </div>

  <div id="textlinkfour">
    <a href="#myModal" data-toggle="modal">Learn more about scheduling > </a>
  </div>

</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Sign up for the waiting list</h3>
</div>
<div class="modal-body">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://likeminded.us6.list-manage.com/subscribe/post?u=32e2f8ba163ac0f96c709c192&amp;id=4aac460b7d" method="post"
    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">Thank you for your interest, but Like Minded is not quite ready.
      Please enter your email address and we will let you know when we launch.</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
      placeholder="email address" required>
      <div class="clear"><input type="submit" value="Submit" name="Submit"
      id="mc-embedded-subscribe" class="btn"></div>
    </form>
    </div>
    <!--End mc_embed_signup-->
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>




<!-- </body>

</html> -->
