

<div class="outer-contain">

  <div id="product_box">
      <form  id="signup" action="#myModal" data-toggle="modal">
        <input type="text" name="zipcode" title="Zip Code" class="" placeholder="Enter zip code"/>
      </form>
    </div>

  <div id="buttonsearch">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonone">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttontwo">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonthree">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonfour">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonfive">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="textlinkone">
    <a href="#myModal" data-toggle="modal">Learn more about therapists > </a>
  </div>

  <div id="textlinktwo">
    <a href="#myModal" data-toggle="modal">Learn more about searching > </a>
  </div>

  <div id="textlinkthree">
    <a href="#myModal" data-toggle="modal">Learn more about consultations > </a>
  </div>

  <div id="textlinkfour">
    <a href="#myModal" data-toggle="modal">Learn more about scheduling > </a>
  </div>

</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="headerlabel">
   
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><center>
    
      
  </div>
  <div class="modal-body"><center>
    <h3>Like Minded is not quite ready! 
        Please enter your email address and we will let you know when we launch.</h3></br>
      <div id="mc_embed_signup">
        <h4 id="message"></h4>
        <%= form_for @person, url: register_email_path, remote: true, inner_html: { class: "new_person", id: "new_person" } do |f| %>
          <%= f.email_field :email, :placeholder => "Enter email address" %> &nbsp 
          <%= f.submit "Submit", :class => "btn" %>
        <% end %>
      </div>
  </div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36670205-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
