<!-- <html>

<head>

  <title>Like Minded | Meet your therapist match.</title>

  <link rel="stylesheet" href="custom.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen"/>

</head>

<body> -->

<div class="outer-contain">

  <div id="product_box">
      <form  id="signup" method="get" action="/Like_minded/Landing Page Test 1/TestingLM2.html">
        <input type="text" name="zipcode" title="Zip Code" class="" placeholder="Enter zip code here"/>
      </form>
    </div>

  <div id="buttonsearch">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonone">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttontwo">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonthree">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonfour">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="buttonfive">
    <a href="#myModal" data-toggle="modal"> </a>
  </div>

  <div id="textlinkone">
    <a href="#myModal" data-toggle="modal">Learn more about therapists > </a>
  </div>

  <div id="textlinktwo">
    <a href="#myModal" data-toggle="modal">Learn more about searching > </a>
  </div>

  <div id="textlinkthree">
    <a href="#myModal" data-toggle="modal">Learn more about consultations > </a>
  </div>

  <div id="textlinkfour">
    <a href="#myModal" data-toggle="modal">Learn more about scheduling > </a>
  </div>

</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Sign up for the waiting list</h3>
</div>
<div class="modal-body">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form accept-charset="UTF-8" action="/register-email" class="new_person" data-remote="true" id="new_person" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
      <input id="person_email" name="person[email]" size="30" type="email">
      <!-- = f.submit "Submit" -->
      <!-- %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close -->
      <button class="btn btn-primary">Submit</button>
<!-- %button.btn{"data-dismiss" => "modal", :type => "button"} Close -->
</form>
    </div>
    <!--End mc_embed_signup-->
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>




  



<!-- </body>

</html> -->
