body {
    background: no-repeat scroll center top;
	background-color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 110%;
    margin: 0;
    padding: 0;
}
a {
    color: #ff6600;
    font-weight: bold;
    text-decoration: none;
}
img {
    border: medium none;
}
a:hover, a:active {
    color: #E65C00;
}

form > .btn {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.outer-contain {
    background: url(landingpage.jpg) no-repeat scroll center top;
    height: 3000px;
    margin: 0 auto;
    width: 1000px;
}
#product_box {
    height: 18px;
	width: 213px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 240px;
	left:680px
}
#signup {
    text-align: center;

}
#signup input[type="text"] {
    background: no-repeat scroll 0 0 transparent;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    height: 18px;
	margin-top: 0px;
    padding-left: 5px;
    width: 213px;
}
#signup input:focus[type="text"] {
    font-color: #000000;
	padding-left: 5px
}
#Tsignup {
    text-align: center;

}
#Tsignup input[type="text"] {
    background: no-repeat scroll 0 0 transparent;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    height: 18px;
	margin-top: 0px;
    padding-left: 5px;
    width: 213px;
}
#Tsignup input:focus[type="text"] {
    font-color: #000000;
	padding-left: 5px
}
#buttonsearch a{
	display: block;
	background: transparent;
	height: 33px;
    width: 225px;
	position: relative;
	top: 252px;
	left:680px;
}
#buttonone a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 537px;
	left:40%;
}
#buttontwo a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 1082px;
	left:40%;
}
#buttonthree a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 1637px;
	left:40%;
}
#buttonfour a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 2037px;
	left:40%;
}
#buttonfive a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 2692px;
	left:40%;
}
#textlinkone a{
    position: relative;
    top: 873px;
	left: 760px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinktwo a{
    position: relative;
    top: 1435px;
	left: 40px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinkthree a{
    position: relative;
    top: 1890px;
	left: 38%;
	width: 270px;
	font-weight: bold;
	font-size: 14px;
}
#textlinkfour a{
    position: relative;
    top: 2445px;
	left: 760px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinktherapist a{
    position: relative;
    top: -285px;
	left: 790px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;

}
.headerlabel {
	background: url(signup.JPG) repeat scroll center top;
	height: 47px;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid #EEEEEE;
    padding: 9px 15px;
}
.headerlabeltherapist {
	background: url(areyouatherapist.jpg) repeat scroll center top;
	height: 47px;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid #EEEEEE;
    padding: 9px 15px;
}

.therapistmodal {
	background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: -250px 0 0 -280px;
    overflow: hidden;
    position: fixed;
    top: 40%;
    width: 700px;
    z-index: 1050;
}
.therapistmodalbody {
    padding: 5px;
    height: 500px;
}

.therapistmodal.fade.in{
	top: 40%;
}
.therapistmodal.fade {
    -moz-transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;
    top: -25%;
}
#therapistform {position:absolute;width:100%;height:500px;}
  
iframe {height:500px; width:690px; pxborder:none;}