body {
    background: no-repeat scroll center top;
	background-color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 110%;
    margin: 0;
    padding: 0;
}
a {
    color: #F26C06;
    font-weight: bold;
    text-decoration: none;
}
img {
    border: medium none;
}
a:hover, a:active {
    color: #D05C02;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.outer-contain {
    background: url(LMLP.jpg) no-repeat scroll center top;
    height: 3000px;
    margin: 0 auto;
    width: 1000px;
}
#buttonsearch a{
	display: block;
	background: transparent;
	height: 33px;
    width: 225px;
	position: relative;
	top: 240px;
	left:680px;
}
#buttonone a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 525px;
	left:40%;
}
#buttontwo a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 1070px;
	left:40%;
}
#buttonthree a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 1630px;
	left:40%;
}
#buttonfour a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 2025px;
	left:40%;
}
#buttonfive a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 2680px;
	left:40%;
}
#textlinkone a{
    position: relative;
    top: 858px;
	left: 760px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinktwo a{
    position: relative;
    top: 1420px;
	left: 40px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinkthree a{
    position: relative;
    top: 1875px;
	left: 38%;
	width: 270px;
	font-weight: bold;
	font-size: 14px;
}
#textlinkfour a{
    position: relative;
    top: 2430px;
	left: 760px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#product_box {
    height: 25px;
	width: 230px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 240px;
	left:680px
}
#signup {
    text-align: center;

}
#signup input[type="text"] {
    background: no-repeat scroll 0 0 transparent;
    color: #A4A4A4;
    font-family: Arial;
    font-size: 16px;
    height: 25px;
	margin-top: 0px;
    margin-right: 5px;
    padding-left: 5px;
    width: 225px;
}
#signup input:focus[type="text"] {
    font-color: #000000;
	padding-left: 5px
}
#signup #zipcode {
	top: 0px
}
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {font-size:16px; color:#000000; display:block; padding:0px 0; margin:0 4% 10px 0; text-indent:5px; height:30px; width:58%; min-width:130px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
