body {
    background: no-repeat scroll center top;
	background-color: #ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 110%;
    margin: 0;
    padding: 0;
}
a {
    color: #F26C06;
    font-weight: bold;
    text-decoration: none;
}
img {
    border: medium none;
}
a:hover, a:active {
    color: #D05C02;
}

form > .btn {
	vertical-align: top;
}
#header {
	background: url(signup.jpg) no-repeat scroll center top;
	background-color: #444444;
	height: 50px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.outer-contain {
    background: url(LMLP.jpg) no-repeat scroll center top;
    height: 3000px;
    margin: 0 auto;
    width: 1000px;
}
#buttonsearch a{
	display: block;
	background: transparent;
	height: 33px;
    width: 225px;
	position: relative;
	top: 252px;
	left:680px;
}
#buttonone a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 537px;
	left:40%;
}
#buttontwo a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 1082px;
	left:40%;
}
#buttonthree a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 1637px;
	left:40%;
}
#buttonfour a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 2037px;
	left:40%;
}
#buttonfive a{
	display: block;
	background: transparent;
	height: 40px;
    width: 200px;
	position: relative;
	top: 2692px;
	left:40%;
}
#textlinkone a{
    position: relative;
    top: 873px;
	left: 760px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinktwo a{
    position: relative;
    top: 1435px;
	left: 40px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#textlinkthree a{
    position: relative;
    top: 1890px;
	left: 38%;
	width: 270px;
	font-weight: bold;
	font-size: 14px;
}
#textlinkfour a{
    position: relative;
    top: 2445px;
	left: 760px;
	width: 220px;
	font-weight: bold;
	font-size: 14px;
}
#product_box {
    height: 15px;
	width: 213px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 240px;
	left:680px
}
#signup {
    text-align: center;

}
#signup input[type="text"] {
    background: no-repeat scroll 0 0 transparent;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    height: 15px;
	margin-top: 0px;
    margin-right: 5px;
    padding-left: 5px;
    width: 213px;
}
#signup input:focus[type="text"] {
    font-color: #000000;
	padding-left: 5px
}
#signup #zipcode {
	top: 0px
}
